#ofcanvaa{
    z-index: 99999;
    .offcanvas-header{
        background-color: #ffff;
    }
    .offcanvas-body{
        background-color: #f0562d;
        .offcan_menu{
            ul{
                li{
                    padding: 10px 0;
                 a{
                    font-family: $roboto;
                    font-size: 18px;
                    font-weight: 500;
                    color: #fdfafa;
                    text-transform: uppercase;
                    &:hover{
                        color: #0c4b2c;
                    }
                    span{
                        font-size: 20px;
                        margin-right: 10px;
                    }
                    } 
                }
            }
        }
    }
}